<!DOCTYPE html>
<div class="navbar">
    <h2>🔐 Secure Cloud Storage</h2>
    <div>
        <a href="/dashboard">Home</a>
        <a href="/upload">Upload</a>
        <a href="/files">Files</a>
        <a href="/logout">Logout</a>
    </div>
</div>
<html>
<head>
    <title>Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="toast-container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="toast">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<div class="container">
    <h2>Login</h2>

    <form method="POST">
        <input type="text" name="username" placeholder="Username" required>

        <div class="password-box">
            <input type="password" id="password" name="password" placeholder="Password" required>
            <span class="eye-btn" onclick="togglePassword()">👁</span>
        </div>

        <button type="submit">Login</button>
    </form>

    <br>
    <a href="/register">Create Account</a>
</div>

<script>
function togglePassword() {
    var pass = document.getElementById("password");

    if (pass.type === "password") {
        pass.type = "text";
    } else {
        pass.type = "password";
    }
}
</script>

</body>
</html>
<script>
setTimeout(() => {
    document.querySelectorAll('.toast').forEach(el => {
        el.classList.add('hide');
        setTimeout(() => el.remove(), 500);
    });
}, 3000);
</script>