<!DOCTYPE html>
<div class="navbar">
    <h2>🔐 Secure Cloud Storage</h2>
    <div>
        <a href="/dashboard">Home</a>
        <a href="/upload">Upload</a>
        <a href="/files">Files</a>
        <a href="/logout">Logout</a>
    </div>
</div>
<html>
<head>
    <title>Upload File</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="toast-container">
    {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for msg in messages %}
                <div class="toast">{{ msg }}</div>
            {% endfor %}
        {% endif %}
    {% endwith %}
</div>

<h2>Upload File</h2>

<form method="POST" action="/upload" enctype="multipart/form-data">
    <input type="file" name="file" required><br><br>
    <button type="submit">Upload</button>
</form>

<br>

<a href="/dashboard">Back to Dashboard</a>

</body>
</html>
<script>
setTimeout(() => {
    document.querySelectorAll('.toast').forEach(el => {
        el.classList.add('hide');
        setTimeout(() => el.remove(), 500);
    });
}, 3000);
</script>